@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');





@theme {
    --font-figtree: "Figtree", "sans-serif";
    --font-inter: "Inter", "sans-serif";


  --color-vampire: #050505;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}



  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-256px * 24));
    }
  }

  .animate-marquee {
    animation: marquee 40s linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }

  .flip-card {
    background-color: transparent;
    width: 100%;
    max-width: 350px;
    height: 254px;
    perspective: 1000px;
    margin-left: auto;      /* Keeps the card centered */
    margin-right: auto;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2rem;
    overflow: hidden;
  }

  .flip-card-front img, 
  .flip-card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: white;
    animation: blinkeffect .6s linear infinite alternate;
    margin-left: 8px;
}

@keyframes blinkeffect {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

  @media screen {
    
  }
